@using NeoNovaAPIAdmin.Models.DbModels;
@using System.Globalization;
@model IEnumerable<NeoNovaAPIAdmin.Models.DbModels.StoreHour>

@{
    var storeNames = new Dictionary<int, string>
    {
        { 1, "Attleboro, MA" },
        { 2, "Framingham, MA" },
        { 3, "Dracut, MA" },
        { 4, "Greenville, ME" },
        { 5, "Woodbury, NJ" }
    };

    var daysOfWeek = new Dictionary<int, string>
    {
        { 0, "Sunday" },
        { 1, "Monday" },
        { 2, "Tuesday" },
        { 3, "Wednesday" },
        { 4, "Thursday" },
        { 5, "Friday" },
        { 6, "Saturday" }
    };
}

<div class="text-center">
    <h1 class="display-4">Store Hours Page</h1>
    <p>These are the Store Hours</p>
    <button class="btn btn-success newButton" data-form="newForm">New +</button>
</div>
<div id="newFormDiv">
    <form id="newForm" class="newForm" action="@Url.Action("AddStoreHour")" method="post" style="display: none;">
        <table>
            <tr>
                <td>
                    <select name="Day" required>
                        @foreach (var day in daysOfWeek)
                        {
                            <option value="@day.Key">@day.Value</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="time" name="OpeningTime" placeholder="Opening Time" required /></td>
            </tr>
            <tr>
                <td><input type="time" name="ClosingTime" placeholder="Closing Time" required /></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-danger cancelButton">Cancel</button>
                </td>
            </tr>
        </table>
    </form>

</div>

@if (Model != null && Model.Any())
{
    foreach (var storeGroup in Model.GroupBy(sh => sh.StoreId))
    {
        <h3>@storeNames[storeGroup.Key]</h3>
        <table class="table" id="storeHoursTable">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var storeHour in storeGroup)
                {
                    <tr>
                        <td>
                            <span class="text">@daysOfWeek[storeHour.Day]</span>
                            <span type="text" class="form-control edit" value="@daysOfWeek[storeHour.Day]" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@DateTime.ParseExact(storeHour.OpeningTime, "HH:mm", CultureInfo.InvariantCulture).ToString("h:mm tt")</span>
                            <input type="text" class="form-control edit" value="@DateTime.ParseExact(storeHour.OpeningTime, "HH:mm", CultureInfo.InvariantCulture).ToString("h:mm tt")" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@DateTime.ParseExact(storeHour.ClosingTime, "HH:mm", CultureInfo.InvariantCulture).ToString("h:mm tt")</span>
                            <input type="text" class="form-control edit" value="@DateTime.ParseExact(storeHour.ClosingTime, "HH:mm", CultureInfo.InvariantCulture).ToString("h:mm tt")" style="display:none;" />
                        </td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-primary editBtn">Edit</button>
                                <div class="edit-actions" style="display:none;">
                                    <button type="submit" class="btn btn-success saveBtn">Save</button>
                                    <button type="button" class="btn btn-danger cancelBtn">Cancel</button>
                                </div>
                                <button type="button" class="btn btn-danger deleteBtn" data-url="@Url.Action("DeleteStoreHour", new { id = storeHour.Id })">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <p>No Store Hours found.</p>
}