@using NeoNovaAPIAdmin.Helpers
@inject JwtExtractorHelper JwtExtractor
@using NeoNovaAPIAdmin.Models.DbModels;
@{
}

@model List<Store>

<div class="text-center">
    <h1 class="display-4">Stores Page</h1>
    <p>These are the Stores</p>
    @{
        var userClaims = JwtExtractor.GetClaimsFromJwt();
        var isNeo = userClaims?.IsInRole("Neo") ?? false;
    }

    @if (isNeo)
    {
        <button class="btn btn-success newButton" data-form="newForm">New +</button>
    }
</div>
<div id="newFormDiv">
    <form id="newForm" class="newForm" action="@Url.Action("AddStore")" method="post" style="display: none;">
        <table class="text-light">
            <tr>
                <td><input type="text" name="Name" placeholder="Name" required /></td>
            </tr>
            <tr>
                <td><input type="text" name="SubName" placeholder="Sub Name" /></td>
            </tr>
            <tr>
                <td><input type="text" name="RegistrationType" placeholder="Registration Type" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Address" placeholder="Address" /></td>
            </tr>
            <tr>
                <td><input type="text" name="City" placeholder="City" /></td>
            </tr>
            <tr>
                <td><input type="text" name="State" placeholder="State" /></td>
            </tr>
            <tr>
                <td><input type="text" name="ZipCode" placeholder="Zip Code" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Country" placeholder="Country" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Email" placeholder="Email" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Phone" placeholder="Phone" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Hours" placeholder="Hours" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Longitude" placeholder="Longitude" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Latitude" placeholder="Latitude" /></td>
            </tr>
            <tr>
                <td><input type="text" name="Directions" placeholder="Directions" /></td>
            </tr>
            <tr>
                <td><input type="text" name="MondayOpeningTime" placeholder="Monday Opening Time" /></td>
                <td><input type="text" name="MondayClosingTime" placeholder="Monday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="TuesdayOpeningTime" placeholder="Tuesday Opening Time" /></td>
                <td><input type="text" name="TuesdayClosingTime" placeholder="Tuesday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="WednesdayOpeningTime" placeholder="Wednesday Opening Time" /></td>
                <td><input type="text" name="WednesdayClosingTime" placeholder="Wednesday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="ThursdayOpeningTime" placeholder="Thursday Opening Time" /></td>
                <td><input type="text" name="ThursdayClosingTime" placeholder="Thursday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="FridayOpeningTime" placeholder="Friday Opening Time" /></td>
                <td><input type="text" name="FridayClosingTime" placeholder="Friday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="SaturdayOpeningTime" placeholder="Saturday Opening Time" /></td>
                <td><input type="text" name="SaturdayClosingTime" placeholder="Saturday Closing Time" /></td>
            </tr>
            <tr>
                <td><input type="text" name="SundayOpeningTime" placeholder="Sunday Opening Time" /></td>
                <td><input type="text" name="SundayClosingTime" placeholder="Sunday Closing Time" /></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-danger cancelButton">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>



@if (Model != null && Model.Any())
{
    <table class="table" id="storesTable">
        <thead>
            <tr class="text-light">
                <th>Name</th>
                <th>SubName</th>
                <th>Registration Type</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Country</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Hours</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Directions</th>
                <th>Mon Open</th>
                <th>Mon Close</th>
                <th>Tue Open</th>
                <th>Tue Close</th>
                <th>Wed Open</th>
                <th>Wed Close</th>
                <th>Thur Open</th>
                <th>Thur Close</th>
                <th>Fri Open</th>
                <th>Fri Close</th>
                <th>Sat Open</th>
                <th>Sat Close</th>
                <th>Sun Open</th>
                <th>Sun Close</th>
                <th style="min-width: 300px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var store in Model)
            {
                <form action="@Url.Action("PutStore", new { id = store.Id })" method="post">
                <tr class="text-light">
                        <input type="hidden" name="Id" value="@store.Id" />
                        <td>
                            <span class="text">@store.Name</span>
                            <input type="text" name="Name" class="form-control edit" value="@store.Name" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.SubName</span>
                            <input type="text" name="SubName" class="form-control edit" value="@store.SubName" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.RegistrationType</span>
                            <input type="text" name="RegistrationType" class="form-control edit" value="@store.RegistrationType" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Address</span>
                            <input type="text" name="Address" class="form-control edit" value="@store.Address" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.City</span>
                            <input type="text" name="City" class="form-control edit" value="@store.City" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.State</span>
                            <input type="text" name="State" class="form-control edit" value="@store.State" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.ZipCode</span>
                            <input type="text" name="ZipCode" class="form-control edit" value="@store.ZipCode" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Country</span>
                            <input type="text" name="Country" class="form-control edit" value="@store.Country" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Email</span>
                            <input type="text" name="Email" class="form-control edit" value="@store.Email" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Phone</span>
                            <input type="text" name="Phone" class="form-control edit" value="@store.Phone" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Hours</span>
                            <input type="text" name="Hours" class="form-control edit" value="@store.Hours" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Longitude</span>
                            <input type="text" name="Longitude" class="form-control edit" value="@store.Longitude" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Latitude</span>
                            <input type="text" name="Latitude" class="form-control edit" value="@store.Latitude" style="display:none;" />
                        </td>
                        <td>
                            <span class="text">@store.Directions</span>
                            <input type="text" name="Directions" class="form-control edit" value="@store.Directions" style="display:none;" />
                        </td>
                    <td>
                        <span class="text">@store.MondayOpeningTime</span>
                        <input type="text" name="MondayOpeningTime" class="form-control edit" value="@store.MondayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.MondayClosingTime</span>
                        <input type="text" name="MondayClosingTime" class="form-control edit" value="@store.MondayClosingTime" style="display:none;" />
                    </td>

                    <td>
                        <span class="text">@store.TuesdayOpeningTime</span>
                        <input type="text" name="TuesdayOpeningTime" class="form-control edit" value="@store.TuesdayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.TuesdayClosingTime</span>
                        <input type="text" name="TuesdayClosingTime" class="form-control edit" value="@store.TuesdayClosingTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.WednesdayOpeningTime</span>
                        <input type="text" name="WednesdayOpeningTime" class="form-control edit" value="@store.WednesdayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.WednesdayClosingTime</span>
                        <input type="text" name="WednesdayClosingTime" class="form-control edit" value="@store.WednesdayClosingTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.ThursdayOpeningTime</span>
                        <input type="text" name="ThursdayOpeningTime" class="form-control edit" value="@store.ThursdayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.ThursdayClosingTime</span>
                        <input type="text" name="ThursdayClosingTime" class="form-control edit" value="@store.ThursdayClosingTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.FridayOpeningTime</span>
                        <input type="text" name="FridayOpeningTime" class="form-control edit" value="@store.FridayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.FridayClosingTime</span>
                        <input type="text" name="FridayClosingTime" class="form-control edit" value="@store.FridayClosingTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.SaturdayOpeningTime</span>
                        <input type="text" name="SaturdayOpeningTime" class="form-control edit" value="@store.SaturdayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.SaturdayClosingTime</span>
                        <input type="text" name="SaturdayClosingTime" class="form-control edit" value="@store.SaturdayClosingTime" style="display:none;" />
                    </td>

                    <td>
                        <span class="text">@store.SundayOpeningTime</span>
                        <input type="text" name="SundayOpeningTime" class="form-control edit" value="@store.SundayOpeningTime" style="display:none;" />
                    </td>
                    <td>
                        <span class="text">@store.SundayClosingTime</span>
                        <input type="text" name="SundayClosingTime" class="form-control edit" value="@store.SundayClosingTime" style="display:none;" />
                    </td>
                        <td>
                            @if (isNeo)
                            {
                            <div class="action-buttons">
                                <div class="button-row">
                                    <button type="button" class="btn btn-primary editBtn">Edit</button>
                                </div>
                                <div class="edit-actions button-row" style="display:none;">
                                    <button type="submit" class="btn btn-success saveBtn">Save</button>
                                    <button type="button" class="btn btn-danger cancelBtn">Cancel</button>
                                </div>
                                <div class="button-row">
                                    <button type="button" class="btn btn-danger deleteBtn" data-url="@Url.Action("DeleteStore", new { id = store.Id })">Delete</button>
                                </div>
                            </div>
                            }
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>
}
else
{
    <p>No Stores found.</p>
}
