@using NeoNovaAPIAdmin.Helpers
@inject JwtExtractorHelper JwtExtractor
@using NeoNovaAPIAdmin.Models.DbModels;
@{

}

@model List<WholesaleBugMessage>

<div class="text-center">
    <h1 class="display-4">Wholesale Bug Messages</h1>
    <p>These are the Wholesale Bug Messages</p>
    @{
        var userClaims = JwtExtractor.GetClaimsFromJwt();
        var isNeo = userClaims?.IsInRole("Neo") ?? false;
    }
</div>

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var message in Model)
            {
                <div class="col-12 d-flex align-items-start">
                    <input type="checkbox" class="form-check-input mt-3 mr-3" id="@message.Id" />
                    <div class="card w-100">
                        <div class="card-header">
                            <label class="form-check-label" for="@message.Id">@message.Title</label>
                        </div>
                        <div class="card-body">
                            <p>@message.MessageBody</p>
                        </div>
                        <div class="card-footer">
                            <small>ID: @message.Id</small><br />
                            <small>Posted by: @message.Username</small><br />
                            <small>Date: @TimeZoneInfo.ConvertTimeBySystemTimeZoneId(message.DateTimestamp, "Eastern Standard Time").ToString("MM/dd/yyyy hh:mm tt")</small><br />
                            <small>Urgency: @message.UrgencyRating</small>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Wholesale Bug Messages found.</p>
        }
    </div>
</div>

