@using NeoNovaAPIAdmin.Models
@model List<AllUser>

@{
    // Custom order of roles
    string[] roleOrder = { "Neo", "Admin", "CommonUser" };

    Dictionary<string, List<AllUser>> roleToUsers = new Dictionary<string, List<AllUser>>();

    // Populate the dictionary by iterating over all users and their roles.
    foreach (var user in Model)
    {
        foreach (var role in user.Roles)
        {
            if (!roleToUsers.ContainsKey(role))
            {
                roleToUsers[role] = new List<AllUser>();
            }
            roleToUsers[role].Add(user);
        }
    }
}

<div class="text-center">
    <h1 class="display-4">List of All Users</h1>
    <p>Admin view of all registered users.</p>
</div>

<div class="container">
    @if (roleToUsers.Count == 0)
    {
        <h2>No Users</h2>
    }
    else
    {
        @foreach (var role in roleOrder)
        {
            if (roleToUsers.ContainsKey(role))
            {
                var usersInRole = roleToUsers[role];
                <details>
                    <summary>
                        <h2 style="display:inline;">@role</h2>
                        <span>(@usersInRole.Count)</span>
                    </summary>


                    @if (usersInRole.Count == 0)
                    {
                        <p>No Users in this Role</p>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in usersInRole)
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@string.Join(", ", user.Roles)</td>
                                        <td>@user.Id</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </details>
            }
        }
    }
</div>
